USE [master]
GO
/****** Object:  Database [VendingMachine]    Script Date: 31.01.2022 12:22:38 ******/
CREATE DATABASE [VendingMachine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VendingMachine', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendingMachine.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VendingMachine_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VendingMachine_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VendingMachine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VendingMachine]
GO
/****** Object:  Table [dbo].[Coins]    Script Date: 31.01.2022 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coins](
	[id] [uniqueidentifier] NOT NULL,
	[nominal] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 31.01.2022 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](max) NOT NULL,
	[image] [varbinary](max) NOT NULL,
	[price] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VendingMachines]    Script Date: 31.01.2022 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendingMachines](
	[id] [uniqueidentifier] NOT NULL,
	[secretcode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VendingMachines] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VMCoins]    Script Date: 31.01.2022 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMCoins](
	[id] [uniqueidentifier] NOT NULL,
	[vmid] [uniqueidentifier] NOT NULL,
	[coinid] [uniqueidentifier] NOT NULL,
	[count] [int] NOT NULL,
	[isactive] [bit] NOT NULL,
 CONSTRAINT [PK_VMCoins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VMDrinks]    Script Date: 31.01.2022 12:22:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMDrinks](
	[id] [uniqueidentifier] NOT NULL,
	[vmid] [uniqueidentifier] NOT NULL,
	[drinkid] [uniqueidentifier] NOT NULL,
	[count] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
